{% extends "layout.html" %} 

{% block content %}
<div class="card">
  <section class="avatar" style="background: url({{teachers.avatar_url}}) no-repeat center center / cover; border-radius: 4px 0 0 4px;"></section>
  <section class="details">
      <form method="POST" action="/teachers?_method=PUT">

          <h3>Editar Professor</h3>

          {% include 'teachers/fields.html' %}

          <input type="hidden" name="id" value="{{teachers.id}}">
          <button type="submit">Salvar</button>                
      </form>
      <form id="delete-form" method="POST" action="/teachers?_method=DELETE">
          <input type="hidden" name="id" value="{{teachers.id}}">
          <button type="submit">Excluir</button>
      </form>

      <script>
        const formDelete = document.querySelector('#delete-form')
        formDelete.addEventListener('submit', function(event) {
          const confirmation = confirm('Deseja Deletar?')
          if(!confirmation) {
              event.preventDefault()
          }
        })
    </script>

  </section>
</div>
{% endblock content %}

