{% extends "layout.html" %}

{% block content %}
<div class="card">
  <section class="avatar" style="background: url({{students.avatar_url}}) no-repeat center center / cover; border-radius: 4px 0 0 4px;"></section>
  <section class="details">
    <h3>Detalhes</h3>

    <div class="item">
      <div>Aluno</div>
      <div>{{ students.name }}</div>
    </div>

    <div class="item">
      <div>Email</div>
      <div>{{ students.email }}</div>
    </div>

    <div class="item">
      <div>Aniversário</div>
      <div>{{ students.birth }}</div>
    </div>

    <div class="item">
      <div>Ano escolar</div>
      <div>{{ students.education }}</div>
    </div>

    <div class="item">
      <div>Carga horária semanal</div>
      <div>{{ students.weekly_classes }} horas</div>
    </div>


    <a href="/students/{{students.id}}/edit" class="button">Editar</a>
  </section>
</div>
{% endblock content %}
