{% extends "layout.html" %} 

{% block content %}
<form class="card" method="POST" action="/teachers">

  <section class="avatar" style="background: url(https://source.unsplash.com/collection/94804057/500x500)no-repeat center center / cover;"></section>
  <section class="details">
    <h3>Novo Professor</h3>

    <div class="item">
      <div>Avatar URL</div>
      <div>
        <input type="url" name="avatar_url" placeholder="http://">
      </div>
    </div>

    <div class="item">
      <div>Nome completo</div>
      <div>
        <input type="text" name="name">
      </div>
    </div>

    <div class="item">
      <div>Data de nascimento</div>
        <input type="date" name="birth">
    </div>

    <div class="item">
      <div>Grau de escolaridade</div>
      <div>
        <select name="education">
          <option value="medio" {% if teachers.education == 'medio' %} selected='selected' {% endif %}>Ensino médio Completo</option>
          <option value="superior" {% if teachers.education == 'superior' %} selected='selected' {% endif %}>Ensino Superior Completo</option>
          <option value="mestrado" {% if teachers.education == 'mestrado' %} selected='selected' {% endif %}>Mestrado</option>
          <option value="doutorado" {% if teachers.education == 'doutorado' %} selected='selected' {% endif %}>Doutorado</option>
        </select>
      </div>
    </div>

    <div class="item">
      <div>Tipo de aula</div>
      <div>
        <span><input type="radio" name="class_type" value="Presencial" {% if teachers.class_type == "Presencial" %} checked="checked" {% endif %}>Presencial</span>
        <span><input type="radio" name="class_type" value="EAD" {% if teachers.class_type == "EAD" %} checked="checked" {% endif %}>EAD</span>
      </div>
      </div>

    <div class="item">
      <div>Área de atuação</div>
        <input
        type="text"
        name="services"
        placeholder="separe os serviços prestados por vírgula"
        >
    </div>

    <button type="submit">Salvar</button>

  </section>
</form>
{% endblock content %}
